body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Regular', sans-serif;
    overflow-x: hidden;
}

a, a:active {
    color: #4d4d4c;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #cbae80;
    font-family: 'Montserrat Extra Light';
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* Navigation */

nav {
    height: 67px;
    width: 96%;
    padding: 11px 34px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.active a {color: #dcc8aa;}
.sub-active a {color: #4c4c4c !important;}
.awards-active a {color: #fff !important;}
.projects-active a {color: #fff !important;}

.nav_menu ul li a {-webkit-transition: .2s ease;-o-transition: .2s ease;transition: .2s ease;}
.nav_menu ul li a:hover {color: #dcc8aa;}

.nav_logo {-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}
.nav_menu {-webkit-box-flex: initial;-ms-flex: initial;flex: initial;margin-right: 5px;}
.nav_menu ul li {
    color: #4d4d4c;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    list-style: none;
    padding: 0 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
}
.nav_menu ul li:first-child {padding-left: 0;}
.nav_menu ul li:last-child {border: 0;padding-right: 0;}

div.nav_menu {
    display: block;
}
div.nav_menu-mobile {
    display: none;
}
.menu-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #333;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.menu-btn span::before {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}
.menu-btn span::after {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
}

/* submenu */
/* Importants needed to be kill header nav's styles */
.nav__submenu li {
    border-right: none !important;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 !important;
    padding-top: 10.5px !important;
    width: 100%;
}
.nav__submenu li:last-child {
    border-right: none !important;
    border-bottom: 1px solid #e4e4e4 !important;
    width: 100%;
}
.nav__submenu li a {
    color: #c9c9c9;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Roboto Thin';
    text-transform: capitalize;
    padding-left: 24px;
}
.nav__submenu li a:hover {
    color: #4c4c4c !important;
}
.nav__submenu {
    width: 340px;
    background-color: white;
    padding: 18px 17px 9px 17px;
    position: absolute;
    z-index: 1;
    top: 22px;
    left: -5px;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    opacity: 0;
    visibility: hidden;
}
.nav_menu ul li:hover ul.nav__submenu {
    opacity: 1;
    visibility: visible;
}

/* ========== */


/* Header/slider */

.header-slider img {
    height: auto;
    width: 100%;
}

/* ========== */


/* Achievements */

.achievements {
    height: auto;
    padding: 87px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 1px solid #808080;
}

.achievements-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 26px;
}

.achievements-item img {
    width: 344px;
    height: 223px;
    border: 2px solid #3f4345;
}

.achievements-item h4 {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}

.achievements-description {
    color: #a2a2a2;
    font-family: "Montserrat Thin", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}


/* ========== */


/* About us */

#aboutUs {
    padding: 75px 0 70px 0;
}

.aboutUs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.aboutUs__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.aboutUs__photo {
    height: 395px;
    width: 625px;
    border: 1px solid #dfdfdf;
}

.aboutUs__text h2 {
    margin-bottom: 18px;
}

.aboutUs__text p {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 34px;
}

.aboutUs__text {
    margin-right: 186px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.aboutUs__button {
    width: 125px;
    height: 33px;
    border: 1px solid #b0b0b0;
    text-align: center;
    border-radius: 25px;
    line-height: 2.1;
    cursor: pointer;
}

/* ========== */


/* Quotation */

#quotation {
    height: 261px;
    background-color: #4d4d4c;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.quotation h2 {display: none;}

.quotation p {
    color: #ffffff;
    font-size: 48px;
}

.quotation p::before {
    content: '';
    background: url(../images/open-quotation.png) no-repeat;
    width: 38px;
    height: 29px;
    position: absolute;
}

.quotation p::after {
    content: '';
    background: url(../images/close-quotation.png) no-repeat;
    width: 38px;
    height: 29px;
    position: absolute;
    margin: 32px 0 0 12px;
}


/* ========== */


/* Our projects */

#gallery-op {
    background: #f4f4f4;
    padding: 90px 0 90px 0;
}

#gallery-op .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#gallery-op h2 {
    margin: 0;
}

#gallery-op span {
    color: #333333;
}

#gallery {
    margin-top: 64px;
}

.column-1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-wrap: wrap; */
}

.column-2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
}

.gallery-item,
.gallery-item-big,
.gallery-item-height {
    padding: 5px 10px 0 0;
    position: relative;
    cursor: pointer;
}

.gallery-item-big:hover:after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    height: 486px;
    width: 618px;
    position: absolute;
    -webkit-transform: translateY(-489px);
        -ms-transform: translateY(-489px);
            transform: translateY(-489px);
}
.gallery-item-height:hover:after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    width: 304px;
    height: 486px;
    position: absolute;
    -webkit-transform: translateY(-489px);
        -ms-transform: translateY(-489px);
            transform: translateY(-489px);
}
.gallery-item:hover:after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    height: 244px;
    width: 304px;
    position: absolute;
    -webkit-transform: translateY(-247px);
        -ms-transform: translateY(-247px);
            transform: translateY(-247px);
}

.gallery-item-big p {
    position: absolute;
    color: white;
    -webkit-transform: translateY(-75px) translateX(42px);
        -ms-transform: translateY(-75px) translateX(42px);
            transform: translateY(-75px) translateX(42px);
    z-index: 1;

    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.gallery-item-big:hover p {
    opacity: 1;
}

.gallery-item-height p {
    position: absolute;
    color: white;
    -webkit-transform: translateY(-75px) translateX(42px);
        -ms-transform: translateY(-75px) translateX(42px);
            transform: translateY(-75px) translateX(42px);
    z-index: 1;

    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.gallery-item-height:hover p {
    opacity: 1;
}

.gallery-item p {
    position: absolute;
    color: white;
    -webkit-transform: translateY(-75px) translateX(42px);
        -ms-transform: translateY(-75px) translateX(42px);
            transform: translateY(-75px) translateX(42px);
    z-index: 1;

    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.gallery-item:hover p {
    opacity: 1;
}

.gallery-item {
    height: 243px;
}

.gallery-item img {
    width: 304px;
    height: 243px;
}

.gallery-item-big img {
    width: 618px;
    height: 486px;
}

.gallery-item-height img {
    width: 304px;
    height: 486px;
}

.gallery-item-7, .gallery-item-8 {
    position: absolute;
    -webkit-transform: translateY(-243px);
        -ms-transform: translateY(-243px);
            transform: translateY(-243px);
}

.gallery-item-8 {
    margin-left: 314px;
}


/* ========== */


/* Products & News */

/* ---products--- */

#products_news {
    padding: 67px 0 39px 0;
}

.products_news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
}

.products_news .our-products {
    border-right: 2px solid #f2f2f2;
}

.our-products {padding-right: 122px;}
.latest-news {padding-left: 123px; margin-right:10px;}

.products_news .our-products h2 {text-align: right;}
.products_news span {color: #333;}

.our-products {
    list-style: none;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.67px;
    padding-bottom: 47px;
}

.our-products a p {
    opacity: 0.5;
}

.op-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.op-list a img {
    margin: 13px 0 0 32px;
}

.op-list a p {
    margin: 0;
}


/* ---news--- */

.latest-news p {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 35.9px;
    opacity: 0.5;
    padding-top: 16px;
}

/* ========== */


/* Companies */

.companies h2 {display: none;}

#companies {
    background-color: #f4f4f4;
    padding: 84px 0 82px 0;
}

.companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.companies-item {
    width: 361px;
    height: 136px;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #4a4748;
    margin: 20px 0 0 20px;
}

/* ========== */


/* Footer */

footer {
    height: 136px;
    background-color: #4d4d4c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    border-top: 1px solid #dddddd;

    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.59px;
    text-align: center;
}

.footer-iso {
    position: absolute;
    left: 85%;
}

.footer-iso img {
    padding-left: 20px;
}



/* PAGES */
/* About us - Overview */

#aboutus-page {
    text-align: center;
    padding-bottom: 86px;
}

.header-one-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

.header-one-img img {
    width: 100%;
    max-height: 520px;
}

.aboutus-page-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: justify;
    font-family: 'Montserrat Light';
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.67px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

.aboutus-page-text-1 {
    padding-right: 66px;
}

/* ===== */
/* About us - Vision, Mission */

.vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 50px 0 85px 0;
}

.vision__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 94px;
}

.vision__text p {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.vision__text span p {
    color: #333333;
    font-weight: 600;
    line-height: 0;
    font-size: 17px;
    line-height: 31px;
}

.vision__photo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 724px;
    height: 543px;
    border: 1px solid #c0c0c0;
    margin-top: 50px;
}

.vision__photo img {
    padding: 0 10px;
}

#mission {
    background-color: #f4f4f4;
}

.mission {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 50px 0 85px 0;
}

.mission__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 94px;
}

.mission__text p {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.mission__text span p {
    color: #333333;
    font-weight: 600;
    line-height: 0;
    font-size: 17px;
    line-height: 31px;
}

.mission__photo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 724px;
    height: 543px;
    border: 1px solid #c0c0c0;
    margin-top: 50px;
}

.mission__photo img {
    padding: 0 10px;
}
/* About us - Our management */
#ourmgm {
    background-color: #f4f4f4;
    padding: 110px 0;
}

.ourmgm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.ourmgm h2 {
    margin: 0;
    text-align: center;
}

.ourmgm h2 span {
    color: #333;
}

.ourmgm p {
    text-align: justify;
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    margin-top: 38px;
    -ms-hyphens: auto;
        hyphens: auto;
    margin-bottom: 0;
    max-width: 730px;
}

#ourteam {
    padding: 123px 0;
}

.ourteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.ourteam-item {
    width: 50%;
    text-align: justify;
    -ms-flex-preferred-size: 650px;
        flex-basis: 650px;
}

.ourteam-item h3 {
    color: #000000;
    font-size: 33px;
    font-weight: 300;
}

.ourteam-item h4 {
    opacity: 0.7;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
}

.ourteam-item p {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

/* About us - Awards */
#awards-nav {
    padding: 38px 0 33px 0;
    background-color: #4d4d4c;
}

.awards-nav ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.awards-nav ul {
    text-align: center;
}

.awards-nav ul li a {
    color: #cbad7f;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 43px;
    border-right: 2px solid #9a9a9a;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.awards-nav ul li a:hover {
    color: #fff;
}

.awards-nav ul li:last-child a {
    border-right: 0;
}

.awards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 130px;
}

.awards-item img {
    height: 240px;
    width: 370px;
    border: 2px solid #8d8d8d;
}

.awards h2 {
    margin: 0;
    margin-top: 120px;
}

.awards-item h4 {
    color: #606060;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 15px;
}

.awards-item h4 span {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.awards-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 122px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.awards-item {
    width: 370px;
    margin: 0 30px;
}

.ictad-awards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 130px;
}

.ictad-awards h2 {
    margin: 0;
    margin-top: 120px;
}

.certificates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 126px;
}

.certificates-item {
    width: 267px;
    margin-left: 21px;
}

.certificates-item img {
    border: 2px solid #615e5a;
}

.certificates-item h4 {
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

/* ENGINEERING PRODUCTS & SERVICES */
#eps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.eps-nav {
    width: 42%;
    background-color: #f4f4f4;
    padding: 132px 0 305px 0;
}
.eps-nav h2 {margin: 0;}
.eps-nav h2 span {color: #333;}
.eps-description {
    width: 58%;
    padding: 161px 0 162px 0;
}
.container__eps-nav {
    width: 84%;
    padding-left: 35%;
}
.container__eps-description {
    width: 75%;
}

/* container for products */
.container__eps-description-p {
    width: 94%;
    margin: auto;

    /*  */
    display: none;
}
.eps-products {
    padding: 35px 0 0 0;
}


.eps-nav__items {
    margin-top: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 65%;
}

.eps-nav__items p {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 43px;
}

.eps-nav__button {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 120px;

    background-color: #cbae80;
    border: 0;
    border-radius: 10px;
    width: 239px;
    height: 49px;
    letter-spacing: 1.3px;
    cursor: pointer;
}

.eps-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    cursor: pointer;
}

.eps-nav__item span {
    width: 40px;
    height: 40px;
}

.eps-nav__item svg {
    margin-bottom: 9px;
}

.eps-nav__active svg g .eps-nav__arrow-right,
.eps-nav__active p {
    fill: #cbad7f;
    color: #cbad7f;
}

.eps-nav__item:hover svg g .eps-nav__arrow-right,
.eps-nav__item:hover p {
    fill: #cbad7f;
    color: #cbad7f;
}

.eps-description p {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.67px;
    line-height: 32px;

    margin-left: 18.3%;
    margin-bottom: 45px;
}

.eps-description .eps__video {
    position: relative;
    margin-left: 18.3%;
    margin-bottom: 60px;
}

.eps-description .eps__video:after {
    content: '';
    position: absolute;
    display: block;
    width: 710px;
    height: 400px;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 2px;
}

.eps__video-play {
    position: absolute;
    width: 147px;
    height: 147px;
    top: 126.5px;
    left: 281.5px;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 1;
}

.eps__video-play:hover svg g path,
.eps__video-play:hover {
    cursor: pointer;
    border-color: #b2b2b2;
    fill: #b2b2b2;
}

.eps__product-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.eps__product-item img {
    border: 2px solid #626163;
}

.eps__product-item h4 {
    text-align: center;
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    line-height: 19.74px;
    letter-spacing: 0.8px;
}

.eps-literature__content {
    margin-left: 40.5%;
    margin-top: 50px;
    margin-bottom: 60px;
    /*  */
    display: none;
}

.eps-literature__img {
    width: 230px;
    height: 360px;
    background-color: #000;
    position: relative;
    border: 1px solid #3A3D42;
}

.eps-literature__img img {
    height: 100%;
    width: 100%;
}

.eps-literature__img-inner {
    width: 90%;
    height: 94%;
    border: 1px solid #FFFCE3;
    position: absolute;
    top: 10px;
    left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

/*  */
.eps-img-inner__end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 15%;

    background: rgba(255,255,255,0.2);

    /* background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.2)), color-stop(29%, rgba(255,255,255,0.2)), color-stop(50%, rgba(255,255,255,0.2)), color-stop(55%, rgba(255,255,255,0.2)), color-stop(100%, rgba(255,255,255,0.2))); */
    background:
    -webkit-linear-gradient(left,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0.6) 55%,
        rgba(255,255,255,0.1) 100%);

    background:
    -o-linear-gradient(left,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0.6) 55%,
        rgba(255,255,255,0.1) 100%);

    background:
    -webkit-gradient(linear,
        left top, right top,
        from(rgba(255,255,255,0.1)),
        color-stop(50%, rgba(255,255,255,0.6)),
        color-stop(50%, rgba(255,255,255,0.6)),
        to(rgba(255,255,255,0.1)));

    background:
    -webkit-linear-gradient(left,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0.1) 100%);

    background:
    -o-linear-gradient(left,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0.1) 100%);

    background:
    linear-gradient(to right,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0.6) 50%,
        rgba(255,255,255,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.eps-img-inner__end-logo {
    height: 100%;
    width: 80%;
}


/*  */

.eps-literature__button {
    height: 40px;
    width: 185px;
    margin-top: 10px;
    border: none;
    background-color: #343434;
    border: 1px solid #747474;
    cursor: pointer;
    padding: 10px 15px 0 30px;
}

.eps-literature__button a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.eps-literature__button a span {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-weight: 500;
    font-size: 17px;
}


/* WITHOUT VIDEO */
/* .eps-description p {
    margin-top: 12%;
} */


/* Projects - Completed */
#projects-nav {
    padding: 38px 0 33px 0;
    background-color: #4d4d4c;
}

.projects-nav ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.projects-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.projects-nav ul li a {
    color: #cbad7f;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 4px 43px;
    border-right: 2px solid #9a9a9a;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    text-align: left;
}

.projects-nav ul li a:hover {
    color: #fff;
}

.projects-nav ul li:last-child a {
    border-right: 0;
}

#projects {
    padding-bottom: 75px;
}

.projects h2 {
    text-align: center;
    margin: 118px 0;
}

.projects h2 span {
    color: #333;
}

.projects-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.projects-item {
    width: 454px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
}

.projects-item img {
    border: 1px solid #333;
    width: 100%;
}

.projects-item p {
    color: #333333;
    font-size: 22px;
    font-weight: 500;
    line-height: 38.89px;
    margin-top: 36px;
    height: 60px;
}

.projects__button1,
.projects__button2,
.projects__button3,
.projects__button4,
.projects__button5,
.projects__button6 {
    margin: 74px 0 83px 0;
    border-radius: 20px;
    width: 172px;
    height: 45px;
    border: 1px solid #cbae80;

    color: #cbae80;
    font-size: 20px;
    font-weight: 300;
    line-height: 45.24px;
    letter-spacing: 0.74px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.projects__button1:hover,
.projects__button2:hover,
.projects__button3:hover,
.projects__button4:hover,
.projects__button5:hover,
.projects__button6:hover {
    background-color: #cbae80;
    color: #fff;
}

.ind-projects1 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 128px 0 53px 0;
    position: relative;

    display: none;
}

.ind-projects2 {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding: 128px 0 53px 0;position: relative;display: none;}
.ind-projects3 {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding: 128px 0 53px 0;position: relative;display: none;}
.ind-projects4 {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding: 128px 0 53px 0;position: relative;display: none;}
.ind-projects5 {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding: 128px 0 53px 0;position: relative;display: none;}
.ind-projects6 {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding: 128px 0 53px 0;position: relative;display: none;}

.ind-projects__photo img {
    width: 100%;
    border: 1px solid #333333;
}

.ind-projects__photo-button {
    width: 225px;
    height: 45px;
    background-color: #cbae80;
    border-radius: 10px;

    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 44.24px;
    letter-spacing: 0.74px;
    text-align: center;
    margin-top: 33px;
    cursor: pointer;
}

.ind-projects__description {
    margin-left: 88px;
}

.ind-projects__description h3 {
    color: #333333;
    font-size: 33px;
    font-weight: 600;
    line-height: 55px;
    margin-top: 16px;
}

.ind-projects__description h6 {
    color: #cbae80;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -0.7px;
}

.ind-projects__description p {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.67px;
    margin: 0;
    margin-top: 9px;
}

.ind-projects__description-column1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 52px;
}

.ind-projects__description-column2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 41px;
}

.ind-projects__description-column-item {
    width: 45%;
}

.ind-projects__back-btn {
    position: absolute;
    top: 100%;
    width: 100%;

    color: #b2b2b2;
    font-size: 20px;
    font-weight: 300;
    line-height: 31.24px;
    letter-spacing: 0.74px;
    text-align: right;
    cursor: pointer;
}

#projects__gallery1 {
    background-color: #f4f4f4;
    padding: 98px 0 129px 0;

    display: none;
}
#projects__gallery2 {background-color: #f4f4f4;padding: 98px 0 129px 0;display: none;}
#projects__gallery3 {background-color: #f4f4f4;padding: 98px 0 129px 0;display: none;}
#projects__gallery4 {background-color: #f4f4f4;padding: 98px 0 129px 0;display: none;}
#projects__gallery5 {background-color: #f4f4f4;padding: 98px 0 129px 0;display: none;}
#projects__gallery6 {background-color: #f4f4f4;padding: 98px 0 129px 0;display: none;}

.projects__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.projects__gallery-item {
    margin-top: 31px;
    height: 265px;
    width: 365px;
}

.projects__gallery-item a img {
    border: 1px solid #333;
    width: 100%;
}

/* Property Development */

#property {
    padding: 140px 0 104px 0;
}

.property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.property__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 69px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.property__description {
    margin-right: 109px;
    width: 58%;
}

.property__description h4 {
    color: #000000;
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 37px;
}

.property__description p {
    text-align: justify;
    max-width: 940px;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.67px;
    line-height: 20px;
}

.property__description p a {
    color: #00a4ff;
}

.property__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;31
    align-items: center;
    width: 562px;
    height: 338px;
    width: 34%;

}

/* International Presence */

#international {
    padding-bottom: 125px;
}

.international {

}

.international h2 {
    margin: 115px 0 97px 0;
    text-align: center;
}

.international h2 span {
    color: #333;
}

.international__items {
    width: 79%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
}

.international__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.international__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.international__btn {
    width: 317px;
    height: 47px;
    background-color: #333;
    border-radius: 25px;

    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 49.54px;
    text-transform: uppercase;
    letter-spacing: 0.74px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: absolute;
    bottom: -9%;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    cursor: pointer;
}

.international__btn:hover {
    background-color: #cbae80;
}

.international__description {
    color: #606060;
    font-size: 19px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 46px;
    margin-bottom: 43px;
}

.ind-international__container {
    width: 82.5%;
    margin-left: 17.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 129px;
}

.ind-international__text {
    width: 36%;
}

.ind-international__text h3 {
    color: #333333;
    font-size: 42px;
    font-weight: 300;
    line-height: 52px;
}

.ind-international__text-description h6 {
    color: #cbae80;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -0.7px;
}

.ind-international__text-description p {
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.67px;
    margin: 0;
    margin-top: 9px;
}

.ind-international__description-column1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 52px;
}

.ind-international__description-column2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 41px;
}

.ind-international__description-column-item {
    width: 45%;
}

.ind-international__slider {
    width: 55%;
    margin-left: 9%;
    margin-bottom: 37px;
}

.ind-international__slider img:first-child {
    padding-right: 15px;
}

.ind-international-1,
.ind-international-2,
.ind-international-3,
.ind-international-4 {
    display: none;
}

.custom-slick-buttons {
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 54.35%;
    padding-bottom: 37px;

    color: #909090;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.59px;
}

.custom-slick-prev {
    cursor: pointer;
    margin-right: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.custom-slick-next {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.custom-slick-prev:hover,
.custom-slick-next:hover,
.custom-slick-prev:hover path,
.custom-slick-next:hover path {
    color: #cbae80;
    fill: #cbae80;
}

.ind-international__back-btn {
    margin-left: 17.5%;
    cursor: pointer;
    margin-bottom: 23px;

    color: #b2b2b2;
    font-size: 20px;
    font-weight: 300;
    line-height: 31.24px;
    letter-spacing: 0.74px;
    height: 25px;
}

/* Resources */

#resources {
    padding-top: 88px;
}

.resources-item:nth-child(even) {
    background-color: #fff;
    padding: 120px 0;
}

.resources-item:nth-child(odd) {
    background-color: #f4f4f4;
    padding: 120px 0;
}

.resources {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.resources h1 {
    margin-top: 0;
    padding-bottom: 17px;
    margin-bottom: 37px;

    color: #333333;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    max-width: 55%;
}

.resources h1 span {
    color: #cbae80;
}

.resources-row__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.resources-row__item-description {
    width: 100%;
}

.resources-row__item-description h3 {
    color: #000000;
    font-size: 33px;
    font-weight: 500;
}

.resources-row__item-description p {
    max-width: 850px;
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.67px;
    text-align: justify;
}

.resources-row__item-list {
    width: 29%;
    margin-left: 102px;
}

.resources-row__item-list ul li {
    font-size: 12px;
    color: #cbae80;
}

.resources-row__item-list ul li span {
    color: #cbae80;
    font-size: 20px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0.74px;
}

.resources-row__description-p {
    width: 54%;
}

.resources-row__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


#resources-asphalt {
    padding-top: 88px;
}

.resources-asphalt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.resources-asphalt h1 {
    margin-top: 0;
    padding-bottom: 17px;
    margin-bottom: 37px;

    color: #333333;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    max-width: 55%;
}

#resources-asphalt .container p {
    text-align: center;
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 0;
    letter-spacing: 0.67px;
    line-height: 32px;
    margin-top: 6px;
    margin-top: 0;
}

.resources-asphalt__title {
    margin-top: 155px;
    margin-bottom: -11px;
    color: #000000;
    font-size: 33px;
    font-weight: 500;
}

.resources-asphalt__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.resources-asphalt__item .container .resources-asphalt__row {
    border-bottom: 1px solid #d2d2d2;
}

.resources-asphalt__item:last-child .container .resources-asphalt__row {
    border-bottom: 0;
    margin-bottom: 72px;
}

.resources-asphalt__row-item h4 {
    color: #cbae80;
    font-size: 27px;
    font-weight: 300;
    margin-top: 64px;
}

.resources-asphalt__row-item {
    width: 50%;
    padding-bottom: 43px;
}

.resources-asphalt__row-item div span {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.67px;
    width: 33%;
}

.resources-asphalt__address,
.resources-asphalt_installed,
.resources-asphalt_maxcapacity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -17px;
}

.resources-asphalt__address {
    margin-top: -22px;
}

/* CSR */

#csr {
    padding: 138px 0 147px 0;
    background-color: #f4f4f4;
}

.csr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#csr p {
    max-width: 800px;
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.67px;
    text-align: center;
    margin: 0 auto;
    margin-top: -20px;
}

.csr h1 {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    color: #cbae80;
    text-align: center;
    padding-bottom: 19px;
    border-bottom: 1px solid #cacaca;
    width: 51%;
    margin: 0 0 59px 0;
}

.csr h1 span {
    color: #333;
}

#csr-overview {
    padding: 166px 0 164px 0;
}

.csr-overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.csr-overview h3 {
    color: #000000;
    font-size: 33px;
    font-weight: 300;
}

.csr-overview p {
    max-width: 680px;

    color: #b2b2b2;
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.67px;
}

.csr-overview-item {
    padding-right: 20px;
}

/* NEWS */

#news {
    padding: 132px 0 127px 0;
}

.news h1 {
    margin-top: 0;
    color: #cbae80;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 92px;
}

.news h1 span {
    color: #333;
}

.news__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
}

.news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.news__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    border: 1px solid #4d4d4c;
}

.news__btn {
    width: 317px;
    height: 47px;
    background-color: #333;
    border-radius: 15px;

    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 49.54px;
    text-transform: uppercase;
    letter-spacing: 0.74px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: absolute;
    bottom: -8%;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    cursor: pointer;
}

.news__btn:hover {
    background-color: #cbae80;
}

.news__item span {
    color: #cbae80;
    font-size: 20px;
    font-weight: 300;
    line-height: 34.67px;
    letter-spacing: 0.72px;
    margin-top: 82px;
}

.news__item p {
    max-width: 440px;
    color: #000000;
    font-size: 28px;
    font-weight: 300;
    line-height: 43px;
    margin-top: 20px;
}

#news-ind {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.news-ind__item {
    padding: 130px 2% 110px 11%;
    width: 58%;
}

.news-ind__item h4 {
    max-width: 770px;
    color: #000000;
    font-size: 28px;
    font-weight: 300;
    line-height: 43px;
}

.news-ind__item p {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.67px;
    max-width: 770px;
    text-align: justify;
}

.news-ind__item span {
    color: #cbae80;
    font-size: 20px;
    font-weight: 300;
    line-height: 34.67px;
    letter-spacing: 0.72px;
}

.news-ind__latest {
    background-color: #f4f4f4;
    padding: 132px 0 340px 7%;
    width: 42%;
}

.news-ind__latest h1 {
    color: #cbae80;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
}

.news-ind__latest h1 span {
    color: #333;
}

.news-ind__latest p {
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.81px;
}

.news-ind__latest-links {
    margin-top: 100px;
    margin-left: 3%;
}

/* CONTACT */

#contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact__item {
    padding: 130px 2% 110px 11%;
    width: 60%;
}

.contact__form-item {
    background-color: #f4f4f4;
    padding: 132px 0 132px 7%;
    width: 42%;
}

.contacts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contacts__item h4 {
    color: #cbae80;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.contacts__item p {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
}

.contacts-item__etf {
    width: 100%;
    margin-bottom: 85px;
}

.contacts-item__etf div span {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.67px;
    width: 22%;
    margin-top: 13px;
}

.contacts-item__email,
.contacts-item__tel,
.contacts-item__fax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -31px;
}

.contacts-item__email {
    margin-top: 4px;
}

.contact__form-item h1 {
    color: #cbae80;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.contact__form-item h1 span {
    color: #333;
}

.contact__form {
    margin-top: 49px;
    max-width: 455px;
}

.contact__form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.contact__form form input[type="text"] {
    width: 98.6555%;
    border: 0;
    padding: 9px 0 9px 2px;
    background-color: transparent;
    font-family: "Montserrat";
    border-bottom: 1px solid #a1a1a0;

    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.67px;
    margin-top: 26px;
}

.contact__form form input[type="checkbox"] {
    display: none;
}

.contact__form form input[type="checkbox"]:checked + label::before {
    background-color: #cbad7f;
}

.contact__form form label {
    color: #a1a1a0;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    margin-top: 21px;
    cursor: pointer;
}

.contact__form form label::before {
    margin-right: 10px;
    vertical-align: sub;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #a1a1a0;
    background-color: transparent;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.contact__form form textarea {
    width: 98.6555%;
    resize: none;
    background-color: transparent;
    border: 1px solid #a1a1a0;
    margin-top: -13px;
    font-family: "Montserrat";
}

.contact__form form p {
    padding-left: 2px;
    opacity: 0.6;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.67px;
    margin-top: 29px;
}

.contact__form form span {
    color: #a1a1a0;
    margin-top: 25px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    max-width: 480px;
}

.contact__captcha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 20px;
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
}

.contact__form form .contact__captcha input[type="text"] {
    border: 1px solid #a1a1a0;
    margin-top: 0;
    padding: 0 0 0 2px;
    width: 116px;
    height: 58px;
    margin-left: 62px;
    font-size: 24px;
}

.contact__captcha .contact__captcha-img a p {
    text-transform: none;
    color: #cbae80;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    opacity: 1;
}

.contact__form form button[type="submit"] {
    border-radius: 20px;
    border: 0;
    background-color: #cbae80;
    padding: 1px 31px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 31.5px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    cursor: pointer;
    outline: 0;
    margin-left: 73%;
    margin-top: 13%;
}

#news-ind {
    display: none;
}
