@media (max-width: 1920px) {
    div.nav_menu {display: none;width: 100%;}
    div.nav_menu-mobile {display: block;}
    .nav_menu {margin-top: 10px;}
    .nav_menu ul li {border-right: 0;}
    .nav_menu ul li {padding: 0 0;}
    .nav_menu ul {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;line-height: 40px;}
    nav {padding: 11px 0;height: auto;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;}
    .nav__submenu {width: 262px;top: 27px;left: -1px;}
}

@media (max-width: 1580px) {
    .quotation p {color: #ffffff;font-size: 38px;}
    .gallery-item-big img {width: 378px;height: 376px;}
    .gallery-item-8 {margin-left: 194px;}
    .gallery-item img {width: 184px;height: 133px;}
    .gallery-item-height img {width: 184px;height: 376px;}
    .gallery-item-big:hover::after {height: 376px;width: 379px;-webkit-transform: translateY(-379px);-ms-transform: translateY(-379px);transform: translateY(-379px);}
    .gallery-item:hover::after {height: 134px;width: 186px;-webkit-transform: translateY(-136px);-ms-transform: translateY(-136px);transform: translateY(-136px);}
    .gallery-item-height:hover::after {width: 186px;height: 377px;-webkit-transform: translateY(-379px);-ms-transform: translateY(-379px);transform: translateY(-379px);}
    nav {padding: 11px 0;}
    .eps-nav {width: 90%;}
    .eps__product-items {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    .eps__product-item img {margin-left: 10px;}
    .eps-description .eps__video {margin-left: 12.3%;}
    .eps__video-play {width: 60px;height: 60px;top: 74.5px;left: 172.5px;}
    .eps-description .eps__video::after {width: 355px;height: 200px;left: 0;}
    .eps__video video {width: 355px;height: 200px;}
    .eps__video-play {top: 71.5px;left: 146.5px;}
    .eps__video-play svg {margin: 20px 0 0 23px !important;height: 20px;width: 20px;}
    .eps-description p {margin-left: 12.3%;}
    .our-products {width: 57%;}
    .quotation p::after {margin: 23px 0 0 1px;}
    .property__item {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .property__description {margin-right: 0;width: 100%;}
    .property__logo {margin-top: 50px;}
    .resources-asphalt__row {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .resources-asphalt__row-item {width: 100%;}
    #news-ind {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .news-ind__item {padding: 130px 5% 110px 17%;;width: 90%;}
    .news-ind__item img {max-width: 100%;}
    .news-ind__latest {padding: 132px 0 340px 17%;width: 95%;}
    #contact {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .contact__item {padding: 130px 5% 110px 5%;width: 90%;}
    .contact__form-item {padding: 132px 5% 132px 5%;width: 90.2%;}
    .contact__form {max-width: 90%;}
    .contact__form form button[type="submit"] {margin-left: 0;}
}

@media (max-width: 1280px) {
    .products_news {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .our-products {width: 94%;border: 0;}
    .latest-news {width: 100%;padding-left: 0;margin-right: 0;}
    .products_news .our-products {border-right: 0;padding: 0 !important;}
    .ind-projects1, .ind-projects2, .ind-projects3,
    .ind-projects4, .ind-projects5, .ind-projects6 {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .ind-projects__description {margin-left: 0;}
    .projects-nav ul {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;padding-left: 0;}
    .projects-nav ul li a {border-right: 0 !important;text-align: center;}
    .projects-nav ul li {padding-top: 20px;}
    .international__items {width: 60%;}

    .ind-international__container {width: 95%;margin-left: 5%;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .ind-international__text {width: 100%;margin-bottom: 50px;}
    .ind-international__slider {width: 100%;margin-left: 0;}
    .ind-international__back-btn {margin-left: 5%;}
    .custom-slick-buttons {margin-left: 5%;}
    .slick-slide img {height: 390px;}
    .resources-row__description {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .resources-row__description-p {width: 100%;}
    .resources-row__item-list {width: 100%;margin-left: 0;margin-top: 50px;}
}

@media (max-width: 1024px) {
    nav {padding: 11px 0;}
}

@media (max-width: 990px) {
    .column-1 {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .column-2 {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .gallery-item-8 {margin-left: 0;}
    .gallery-item-7, .gallery-item-8 {position: absolute;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
    nav {padding: 11px 0;height: auto;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .nav__submenu {top: 26px;left: 1px;width: 180px;}
    .nav_menu ul {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;;line-height: 40px;padding-left:0;}
    .nav_menu ul li:first-child {margin-top: 70px;}
    #gallery-op {padding: 90px 0 1200px 0;}
    .gallery-item {height: 275px;}
    .gallery-item-big img {width: 480px;height: 270px;}
    .gallery-item img {width: 480px;height: 270px;}
    .gallery-item-height img {width: 480px;height: 755px;margin-top: 279px;}
    .gallery-item-big:hover::after {height: 270px;width: 480px;-webkit-transform: translateY(-273px);-ms-transform: translateY(-273px);transform: translateY(-273px);}
    .gallery-item:hover::after {height: 270px;width: 480px;-webkit-transform: translateY(-273px);-ms-transform: translateY(-273px);transform: translateY(-273px);}
    .gallery-item-height:hover::after {width: 480px;height: 754px;-webkit-transform: translateY(-757px);-ms-transform: translateY(-757px);transform: translateY(-757px);}
    .gallery-item-big p,
    .gallery-item p,
    .gallery-item-height p {font-size: 22px;}
    .international-img img {
        max-width: 100%;
    }
    .international-btn {
        font-size: 13px;
        line-height: 47.54px;
        bottom: -9%;
        max-width: 48%;
    }
    .csr-overview-item {
        padding-right: 0;
    }
    .csr h1 {width: 100%;}
    #resources-asphalt .container p {width: 100%;}
    .resources-asphalt__row-item div span {width: 100%;}
    #news-ind {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .news-ind__item {padding: 130px 5% 110px 5%;width: 90%;}
    .news-ind__item img {max-width: 100%;}
    .news-ind__latest {padding: 132px 0 340px 7%;}
    .news-ind__latest p {max-width: 385px;}
    .news-ind__latest h1 {font-size: 36px;}
}

@media (max-width: 930px) {
    .footer-iso {left: 36%;top: 67%;}
    footer {height: 260px;}
    .nav_logo {height: 0;}
    .nav_menu-mobile {margin-top: 80px;}
    .header-one-img img {height: 300px;}
    .vision {-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;}
    .vision__text {padding-left: 94px;}
    .vision__photo,
    .mission__photo {width: auto;height: 210px;}
    .vision__photo img,
    .mission__photo img {width: 95%;height: 92%;}
    .mission {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .aboutUs__photo {height: 260px;width: 410px;}
    .aboutUs__photo img {width: 390px;}
    .quotation p {font-size: 24px;}
    .quotation p::before {-webkit-transform: translateX(-20px) translateY(-17px);-ms-transform: translateX(-20px) translateY(-17px);transform: translateX(-20px) translateY(-17px);}
    .quotation p::after {margin: 18px 0 0 7px;}
    #eps {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .eps-nav {width: 100%;padding: 132px 0 105px 0;}
    .container__eps-nav {width: 84%;padding-left: 15%;}
    .eps-description {width: 100%;}
    .eps-description .eps__video {margin-left: 12.3%;}
    .eps-description p {margin-left: 12.3%;}
    .eps-literature__content {margin-left: 20%;}
    .aboutus-page-text {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .aboutus-page-text-1 {padding-right: 0;}
    .aboutUs__text {margin-right: 0;}
    .international-items {width: 55%;}
    .resources h1 {max-width: 100%;}
}

@media (max-width: 630px) {
    .news__btn {width: 230px;height: 39px;font-size: 17px;line-height: 41.54px;bottom: -9%;}
    .news__img img {max-width: 100%;}
    .contacts__item {width: 100%;}
}

@media (max-width: 560px) {
    .aboutUs__photo {height: 200px;width: 300px;}
    .aboutUs__photo img {width: 270px;}
    .achievements-item img {width: 240px;height: 155px;}
    .awards-nav ul li a {border: 0;}
    .projects__button1, .projects__button2, .projects__button3,
    .projects__button4, .projects__button5, .projects__button6 {margin: 200px 0 83px 0;}
    .international__img img {width: 100%;}
    .international__btn {width: 80%;font-size: 14px;}
    .header-one-img img {height: 240px;}
    .property__logo img {width: 280px;height: 174px;}
}

@media (max-width: 480px) {
    .our-products {font-size: 11px;letter-spacing: -0.63px;}
    .op-list a img {width: 16px;height: 14px;margin: 22px 0 0 24px;}
    .latest-news p {font-size: 11px;letter-spacing: -0.63px;}

    .column-1 {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .column-2 {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .gallery-item:hover::after {height: 160px;width: 250px;-webkit-transform: translateY(-164px);-ms-transform: translateY(-164px);transform: translateY(-164px);}
    .gallery-item-height img {width: 250px;height: 390px;margin-top: 167px;}
    #gallery-op {padding: 90px 0 650px 0;}
    .gallery-item-height:hover::after {width: 250px;height: 389px;-webkit-transform: translateY(-393px);-ms-transform: translateY(-393px);transform: translateY(-393px);}
    .gallery-item-8 {margin-left: 0;}
    .gallery-item img {width: 250px;height: 160px;}
    .gallery-item-big img {width: 250px;height: 160px;}
    .gallery-item-big:hover::after {height: 161px;width: 250px;-webkit-transform: translateY(-164px);-ms-transform: translateY(-164px);transform: translateY(-164px);}
    .gallery-item-big p,
    .gallery-item p,
    .gallery-item-height p {font-size: 16px;-webkit-transform: translateY(-60px) translateX(32px);-ms-transform: translateY(-60px) translateX(32px);transform: translateY(-60px) translateX(32px);}
    .gallery-item {height: 162px;}
    .gallery-item-7, .gallery-item-8 {-webkit-transform: translateY(0px);-ms-transform: translateY(0px);transform: translateY(0px);}
    .slick-slide img {height: 200px;}
    .ind-international__text {width: 93%;}
    .resources h1 {font-size: 38px;}
}

@media (max-width: 411px) {
    .awards-item img {width: 220px;height: 160px;}
    .awards-nav ul {padding: 0;}
    .header-one-img img {height: 150px;}
    .footer-copyright {text-align: center;padding: 0 20px;}
    .footer-iso {left: 15%;}
    .ourmgm h2 {font-size: 38px;}
    .vision__text,
    .mission__text {padding-left: 0;padding-right: 0;}
    .eps__video video {width: 300px;height: 169px;}
    .eps__video-play {top: 58.5px;left: 118.5px;}
    .eps-description .eps__video::after {width: 300px;height: 169px;}
    .eps-description .eps__video {margin-left: 12.3%;}
    h2 {font-size: 40px;}
    .companies-item {height: 110px;padding: 0 0 0 12px;margin: 20px 0 0 0;}
    .companies-item img {width: 95%;}
    .quotation p {font-size: 18px;}
    .quotation p::after {margin: 7px 0 0 3px;}
    .quotation p::before {-webkit-transform: translateX(-22px) translateY(-17px);-ms-transform: translateX(-22px) translateY(-17px);transform: translateX(-22px) translateY(-17px);}
    .ind-projects__description h6 {font-size: 18px;}
    .projects h2 {font-size: 30px;}
    .international h2 {font-size: 26px;}
    .csr h1 {font-size: 38px;}
    .resources-asphalt__row-item div span {font-size: 14px;}
    #resources-asphalt .container p {font-size: 14px;}
    .resources-asphalt h1 {max-width: 100%;}
    .property__description p a {font-size: 14px;}
    .contact__captcha {width: 90%;}
    .contact__form form .contact__captcha input[type="text"] {margin-left: -30px;}
    .contact__form-item h1 {font-size: 38px;}
}
